/* General Styles */
body {
    background-color: #f7d794; /* Fondo de la página y color del cuerpo en naranja muy suave */
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #333;
}

.container {
    max-width: 1200px;
    width: 100%;
    background-color: #ffffff; /* Fondo blanco para el contenedor */
    padding: 40px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin: 40px;
    position: relative;
}

/* Typography */
h1, h2 {
    font-size: 36px;
    color: #2c3e50;
    margin-bottom: 20px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
    color: #34495e;
}

input[type="text"], input[type="number"], textarea, select {
    width: calc(100% - 24px);
    padding: 16px;
    margin-bottom: 20px;
    border: none;
    border-radius: 8px;
    background-color: #ecf0f1;
    font-size: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}

input[type="text"]:focus, input[type="number"]:focus, textarea:focus, select:focus {
    outline: none;
    background-color: #ffffff;
    box-shadow: 0 0 0 3px rgba(52, 152, 219, 0.3);
}

/* Button Styles */
button {
    background-color: #3498db;
    color: white;
    padding: 16px 32px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #2980b9;
    transform: translateY(-2px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

a.button {
    display: inline-block;
    background-color: #27ae60;
    color: white;
    padding: 16px 32px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
    margin-top: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

a.button:hover {
    background-color: #219150;
    transform: translateY(-2px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 40px;
}

th, td {
    padding: 20px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #34495e;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

td {
    background-color: #f9f9f9;
}

td.actions {
    display: flex;
    align-items: center;
    gap: 15px;
}

td.actions a {
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

td.actions a.edit {
    background-color: #2ecc71;
}

td.actions a.delete {
    background-color: #e74c3c;
}

td.actions a.edit:hover {
    background-color: #27ae60;
    transform: translateY(-2px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

td.actions a.delete:hover {
    background-color: #c0392b;
    transform: translateY(-2px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Footer Styles */
footer {
    text-align: center;
    margin-top: 40px;
    padding: 20px 0;
    color: #777;
    font-size: 14px;
    border-top: 1px solid #ddd;
}

footer p {
    margin: 10px 0;
}

/* Estilos adicionales */
.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    color: #34495e;
}

input[type="text"], input[type="number"], textarea, select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input[type="date"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input[type="text"]:focus, input[type="number"]:focus, textarea:focus, select:focus, input[type="date"]:focus {
    outline: none;
    border-color: #3498db;
    box-shadow: 0 0 0 3px rgba(52, 152, 219, 0.3);
}

button[type="submit"], a.button {
    background-color: #27ae60;
    color: white;
    padding: 16px 32px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

button[type="submit"]:hover, a.button:hover {
    background-color: #219150;
    transform: translateY(-2px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.error-message {
    color: red;
    margin-top: 10px;
}

/* Estilos para el logo */
img {
    max-width: 100px;
    max-height: 100px;
}
